<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<script src = "/socket.io/socket.io.js"></script>
<script>
    var socket = io();
</script>
<body>
  <div class="container"></div>
</body>
</html>
