<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=18e252ee-12ee-4005-b0bb-9798d476bd30&lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="./main.css">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <div class="container">
    {{> "./src/templates/geo-content.hbs"}}
  </div>
</body>
<script  type="text/javascript">
    // function balloonHandler() {
    //     let balloonControl = document.querySelector('.ymaps-2-1-76-balloon');
    //     balloonControl.style.width = "804px";
    //
    //     let balloonContentControl = document.querySelector('.ymaps-2-1-76-balloon__content');
    //     balloonContentControl.style = "width: 804px; height: 400px";
    //     balloonContentControl.children[0].style = "width: 804px !important; overflow: hidden;";
    //
    //     let clasterControl = document.querySelector('.ymaps-2-1-76-b-cluster-carousel__content');
    //     clasterControl.style.height = "400px";
    //
    //
    //
    //     let content = document.querySelector('.ymaps-2-1-76-b-cluster-tabs__section_type_content');
    //     content.style = 'display: inline-block !important';
    // }
    function balloonHandler() {
        document.querySelector('.ymaps-2-1-76-b-cluster-carousel.ymaps-2-1-76-b-cluster-carousel_pager_numeric.ymaps-2-1-76-b-cluster-content').style = "height: 400px !important;";
        document.querySelector('.ymaps-2-1-76-b-cluster-carousel__content').style = "height: 400px !important;";
    }
</script>
</html>
