<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<script>
    var socket = io();
</script>
<body>
<div class="container">123</div>
<script src = "/socket.io/socket.io.js"></script>
</body>
</html>