.place-date {
    color: #c3c3c3;
    margin-left: 5px;
}

.comment_wrapper{
    padding: 5px 0 10px 0;
}

.header_wrapper {
    position: fixed;
    width: 351px;
    color: white;
    background-color: #fab638;
    margin: -10px 0 0 -13px;
    padding: 15px 30px;
    font-size: 10px;
}

.reviews_wrapper {
    display: inline-block;
    color: #333333;
}

.line{
    height: 1px;
    width: 100%;
    background-color: gray;
    margin: 25px 0;
}

.name{
    font-weight: bold;
}

.form_header{
    color: orange;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.balloon_wrapper {
    width: 370px;
    height: 400px;
    margin: 65px 0 0 18px;
    max-height: 600px;
    display: inline-block;
    overflow: auto;
}

input {
    width: 336px;
    height: 24px;
    margin-bottom: 22px;
    padding-left: 8px;
}

textarea {
    font-family: sans-serif;
    width: 340px;
    height: 85px;
    margin-bottom: 22px;
    padding: 8px 0 0 8px;
}

.sendButton {
    width: 95px;
    height: 34px;
    margin: -5px 0 30px 255px;
    font-weight: bold;
    color: white;
    background-color: #fab638;
    border: 1px solid darkorange;
    border-radius: 3px;
}

.sendButton:hover{
    background-color: darkorange;
}

::-webkit-scrollbar{
    border: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: transparent !important;
}

.ymaps-2-1-76-balloon__content {
    padding: 10px 12px !important;
    margin-right: 0 !important;
    width: 385px;
    height: 400px;
}

.ymaps-2-1-76-balloon__close-button{
    width: 10px !important;
    height: 10px !important;
    margin: 17px 12px 0 0 !important;
}