<div class="ballon_header header_wrapper">{{ address }}</div>
<div class="balloon_wrapper">
    <div id="commentsNodeId">{{> "./comments.hbs"}}</div>
    <p class="form_header">ВАШ ОТЗЫВ</p>
    <input class="nameInput" type="text" placeholder="Ваше имя"></br>
    <input class="placeInput" type="text" placeholder="Укажите заведение"></br>
    <textarea class="commentTextarea" placeholder="Поделитесь впечатлениями"></textarea><input class="sendButton" type="button" value="Добавить">
</div>