{{#if comments}}
    <div class="reviews_wrapper">
        {{#each comments}}
            <div class="comment_wrapper">
                <span class="name">{{ name }}</span> <span class="place-date">{{ place }} {{ date }}</span></br>
                {{ comment }}
            </div>
        {{/each}}
        <div class="line"></div>
    </div>
{{/if}}