<div class="login-form__wrapper">
    <h1 class="login-form__caption">Авторизация</h1>
    <p><span class="caption">Введите пожалуйста свое фото и ник для дальнейшей авторизации</span></p>
    <input class="login-form__nameInput" type="text" placeholder="Введите своё имя и фамилию"></br>
    <input class="login-form__placeInput" type="text" placeholder="Введите свой ник"></br>
    <input class="login-form__sendButton" type="button" value="ВОЙТИ">
</div>