<div class="login-form__wrapper">
    <h1 class="login-form__caption">Авторизация</h1>
    <p><span class="caption">Введите пожалуйста свое ФИО и&nbsp;ник для дальнейшей авторизации</span></p></br>
    <input class="login-form__nameInput input_text" type="text" placeholder="Введите своё имя и фамилию"></br>
    <input class="login-form__nicknameInput input_text" type="text" placeholder="Введите свой ник"></br>
    <input class="login-form__sendButton input_button" type="button" value="ВОЙТИ">
</div>