{{#each participants}}
    <div class="participant">
        <div class="participantPhoto {{ nickname }}" style="background-image: {{ photoUrl }}"></div>
        <div class="participantInfo">{{ name }}</br><span class="caption">{{ lastMessage }}</span></div>
    </div></br>
{{/each}}