{{#each participants}}
    <div class="participantPhoto" style="background-image: {{ photoUrl }}"></div>
    <div class="participantInfo">{{ name }}</br><span class="caption">{{ lastMessage }}</span></div>
{{/each}}