<div class="upload-form__wrapper">
    <h1 class="login-form__caption">Загрузка фото</h1>
    <input class="upload-form__uploadButton" type="file" name="Выбрать файл" /></br>
    <input class="fileMulti" type="fileMulti" multiple></br>
    <div class="upload-form__uploadOutput"></div></br>
    <input class="upload-form__saveButton input_button" type="button" value="Сохранить"> <input class="upload-form__cancelButton input_button" type="button" value="Отмена">
</div>